.banner {
  background: blue;
  color: white;
  padding: 10px; /* Adjust padding for desired spacing */
  display: flex; /* Enable flexbox for alignment */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Push items to the edges */
}
.column {
    float: left;
    width: 50%;
  }
  
 
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .header {
    margin: 0; /* Reset margin */
    position: relative; /* Use relative positioning */
}
.header img {
    width: 30px;             
    height: 30px;           
    cursor: pointer;        

  }
.ptype-logo {
  text-decoration: none;
  color: inherit;
}
.ptype-logo:hover {
  text-decoration: none; 
  color: inherit;        
}
.sub-banner
{
  margin: auto;
  width: 30%;
  padding: 10px;
}
.grid-container {
  
  display: inline-grid;
  grid-template-columns: 200px 200px  200px;
}
* {
  font-family: "courier";
  background-color: gray;
 }
