/* Global Styles */
* {
  font-family: "Courier", sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding-top: 50px;
}

.banner {
  background: blue;
  color: white;
  padding: 10px; /* Adjust padding for desired spacing */
  display: flex; /* Enable flexbox for alignment */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Push items to the edges */
}

.ptype-logo {
  text-decoration: none;
  color: inherit;
}

.ptype-logo:hover {
  text-decoration: none;
  color: inherit;
}

.header {
  margin: 0; /* Reset margin */
  position: relative; /* Use relative positioning */
}

.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Typing Game Section */
.typing-game {
  margin-top: 30px;
}

#text-to-type {
  font-size: 24px;
  margin-bottom: 20px;
}

#user-input {
  width: 80%;
  height: 40px;
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#timer {
  font-size: 20px;
  margin-top: 20px;
}

/* Row Layout */
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Sub-banner */
.sub-banner {
  margin: auto;
  width: 30%;
  padding: 10px;
}

/* Grid Container */
.grid-container {
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
}

/* Styling for the individual letters */
#text-to-type .letter {
  display: inline-block;
  padding: 0 5px;
}
